{% extends "base.html" %}
{% block title %}Trang chủ{% endblock %}
{% block content %}
<h2>Chào mừng {{ user.username }}!</h2>
<p>Vai trò: {{ user.profile.role }}</p>

<div class="row mt-4">
    <div class="col-md-6">
        <div class="list-group">
            <a href="{% url 'class_list' %}" class="list-group-item list-group-item-action">Xem danh sách lớp học</a>
            <a href="{% url 'class_register' %}" class="list-group-item list-group-item-action">Đăng ký lớp học</a>
            <a href="{% url 'registered_classes' %}" class="list-group-item list-group-item-action">Lớp đã đăng ký</a>
            <a href="{% url 'view_scores' %}" class="list-group-item list-group-item-action">Xem điểm</a>
            <a href="{% url 'make_payment' %}" class="list-group-item list-group-item-action">Thanh toán học phí</a>
        </div>
    </div>
</div>
{% endblock %}
